<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="An Artit's Gallery">
    <title>Joe M Horvath</title>
    <link rel="canonical" href="//posts.haml">
    <link rel="stylesheet" href="/assets/application.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Neuton|Ovo">

  </head>
  <body>
    <header class="page">
      <div class="headerContainer">
  <div class="logoCol">
    <img class="logo" src="/assets/EagleLogo.png" title="Eagle Logo" height="150" width="150">
  </div>
  <div class="nameCol">
    <h1 class="name">
      Joe M Horvath
    </h1>
  </div>
  <div class="navCol">
    <nav>
      <ul>
        
          <li>
            <a href="/" title="Home">
              Home
            </a>
          </li>
        
          <li>
            <a href="/about" title="About">
              About
            </a>
          </li>
        
          <li>
            <a href="/gallery" title="Gallery">
              Gallery
            </a>
          </li>
        
          <li>
            <a href="/classes" title="Classes">
              Classes
            </a>
          </li>
        
          <li>
            <a href="/contact" title="Contact">
              Contact
            </a>
          </li>
        
          <li>
            <a href="/store" title="Store">
              Store
            </a>
          </li>
        
          <li>
            <a href="/links" title="Links">
              Links
            </a>
          </li>
        
      </ul>
    </nav>
  </div>
</div>
    </header>
    <main>
      #home
  %h1 Posts
  %ul.posts
  
    %li
      %span
        22 Oct 2014 &raquo; <a href="//jekyll/update/2014/10/22/welcome-to-jekyll.html">Welcome to Jekyll!</a>
  

    </main>
    <script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>


    <script type="text/javascript" src="/assets/application.js"></script>
  </body>
</html>
